# Node
overlay/node_modules/

# Python
__pycache__/
*.pyc
.mypy_cache/

# 환경
.env

# 임시파일
*.tmp

# Live2D 큐비즘 코어 (용량 큼)
overlay/live2dcubismcore.min.js

# vts_token.txt (개인 토큰 정보)
vts_token.txt

# 이전 대화 내용 저장
conversation_history.json

# 요약 정보 저장
summary.json

# 사실 정보 저장
facts.json